{% import "_includes/forms" as forms %}
<div id="discounts-plus" class="hidden">
    {{ forms.selectField({
        label           : "Per Item Custom Behavior"|t('discountsplus'),
        instructions    : "Choose whether custome behavior for the perItem Discount, put null for deactive"|t('discountsplus'),
        id              : 'customPerItemDiscountBehavior',
        name            : 'customPerItemDiscountBehavior',
        value           : discount.customPerItemDiscountBehavior,
        on              : discount.customPerItemDiscountBehavior,
        options         : perItemDiscountCustomBehaviors,
        errors          : discount.getErrors('customPerItemDiscountBehavior'),
    }) }}


    {{ forms.textField({
        label           : "Limit Discount to Quantity"|t('discountsplus'),
        instructions    : "Set a maximum number of matching items that can receive the \"Per Item\" discount amount.  A zero value here will skip this action."|t('commerce'),
        id              : 'limitDiscountsQuantity',
        name            : 'limitDiscountsQuantity',
        value           : discount.limitDiscountsQuantity,
        type            : 'number',
        min             : 0,
        tip             : 'Set the "Maximum Purchase Quantity" to 0 to allow this discount to be matched regardless of the total quantity purchased.',
        errors          : discount.getErrors('limitDiscountsQuantity'),
    }) }}
</div>